$dark-tile-color: rgba(221, 220, 220, 0.815);
$white-tile-color: white;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
}

.page {
    display: grid;
    justify-content: center;
}

.game-section {
    font-size: 2rem;
    margin-bottom: 2rem;
    
    &__game-title {
        font-size: 5rem;
        text-align: center;
    }

    &__difficulty-list {
        list-style: none;
        display: flex;
        gap: 2rem;
        align-content: center;
    }

    &__point-section {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
        margin-bottom: 0.7rem;
    }

    &__choice {
        vertical-align: middle;
        margin-left: 1rem;
    }

    &__settings-section {
        display: flex;
        gap: 2rem;
        padding: 0 1rem;
    }

    &__difficulty-catpion {
        font-weight: bold;
    }

    &__new-game-btn {
        margin-left: auto;
    }
}

.game-area {

    display: grid;
    grid-template-columns: repeat(16, 6rem);
    grid-template-rows: repeat(10, 6rem);
    border: 0.9rem solid red;
    margin-bottom: 2rem;

   

    &__area-tile {
        width: 6rem;
        height: 6rem;
        
        &--white {
            background-color: $white-tile-color;
        }

        &--dark {
            background-color: $dark-tile-color;
        }

        &--snake {
            background-color: black;
        }
    }

    &__mouse {
        background-image: url('../img/lemmiwinks.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        z-index: 2;
    }

}

.modal-window {
    font-size: 10rem;
    background-color: red;
    color: white;
    text-align: center;
    width: 700px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}